body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container { 
    margin-top: 2em;
}
.footer{
    text-align: center;
}

.main {
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.14);
}

.header {
    text-align: center;
    padding: 1em;
    border-bottom: 1px solid rgba(212,212, 212,0.8);
}
   
.header img{
    width: 100px;
}
.field {
    display:flex;
    flex-direction: column;
    gap: 1em;
    width: 290px;
}

.field input {
    padding-left: 1em;
    padding-top: 0.7em;
    padding-bottom: 0.7em;
    border-radius:6px;
    border-color:rgba(0, 0, 0, 0.14);
}
.checkbox {
    margin-top: 1em;
    margin-bottom: 1em;
}
.form-content {
    padding: 1em;
}

.form-content button{
    background-color: lightseagreen;
    width: 290px;
}

button {
    border:none;
    width: 100%;
    padding-top: 0.7em;
    padding-bottom: 0.7em;
    border-radius:6px;
    color: white;
    cursor: pointer;
}

.extra {
    padding: 1em;
    text-align: center;
    width: 290px;
}

.extra button {
  margin-top: 1em;
  background-color: #04404b;
}

span:after,
span:before {
    content: "\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0";
    text-decoration: line-through;
}
.extra span{
     opacity: 0.5;
}